{{- $root := . -}}
{{- range $key, $value := .Values.configMaps }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "app.fullname" $root }}-{{ $key }}
  namespace: {{ include "app.namespace" $root }}
  annotations:
    "helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-weight": "-20"
    {{- with $value.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  labels:
    {{- include "app.labels" $root | nindent 4 }}
    {{- with $value.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
data:
  {{- toYaml $value.data | nindent 2 }}
---
{{- end }}
