{{- $root := . -}}
{{- range $key, $value := .Values.secrets }}
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "app.fullname" $root }}-{{ $key }}
  namespace: {{ include "app.namespace" $root }}
  annotations:
    "helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-weight": "-20"
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: aws-secret-store-{{ $value.type }}
    kind: ClusterSecretStore
  target:
    name: {{ include "app.fullname" $root }}-{{ $key }}
  dataFrom:
  - extract:
      key: {{ $value.awsParamPath | quote }}
---
{{- end }}